
.logo {
   text-align: center;
}

h1 {
    text-align: center;
}

hr {
    width: 80%;
}
nav ul {
    width: 78%;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    list-style-type: none;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
}

main {
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    justify-content: center;
    width: 80%;
}

table {
    margin: 0 auto;
    border: 1px solid black;
}

li {
    list-style-type: none;
}

tr td {
    border: 1px solid black;
}

li {
    align: justify;
}

.video {
    text-align: center;
}
footer {
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    justify-content: center;
    width: 80%;
}

.articoli {
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(230, 230, 230);
    text-align: center;
    justify-content: center;
    width: 80%;
}

